<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="~{fragments/header :: header}"></head>
<body>
<h3 th:text="${title}"></h3>
<div>
    <a href="/users/form.html" th:href="@{/users/form}">创建用户</a>
</div>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>姓名</th>
        <th>年龄</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${userList.size()} eq 0">
        <td colspan="3">没有用户信息</td>
    </tr>
    <tr th:each="user : ${userList}">
        <td><a th:href="@{'/users/'+${user.id}}" th:text="${user.id}"></a></td>
        <td><a th:href="@{'/users/'+${user.id}}" th:text="${user.name}"></a></td>
        <td><a th:href="@{'/users/'+${user.id}}" th:text="${user.age}"></a></td>
    </tr>
    </tbody>
</table>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>