<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>testservlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>defaultName2</param-name>
    <param-value>匿名2</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>WelcomeServletWithEclipse</display-name>
    <servlet-name>WelcomeServletWithEclipse</servlet-name>
    <servlet-class>com.forward.servlet.WelcomeServletWithEclipse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WelcomeServletWithEclipse</servlet-name>
    <url-pattern>/WelcomeServletWithEclipse</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.forward.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLoginSvt</display-name>
    <servlet-name>UserLoginSvt</servlet-name>
    <servlet-class>com.forward.servlet.UserLoginSvt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLoginSvt</servlet-name>
    <url-pattern>/UserLoginSvt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HelloServlet</display-name>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>com.forward.servlet.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/HelloServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LifeCycleServlet</display-name>
    <servlet-name>LifeCycleServlet</servlet-name>
    <servlet-class>com.forward.servlet.LifeCycleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LifeCycleServlet</servlet-name>
    <url-pattern>/LifeCycleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoLogin</display-name>
    <servlet-name>DoLogin</servlet-name>
    <servlet-class>com.forward.servlet.DoLogin</servlet-class>
    <init-param>
      <param-name>defalutName</param-name>
      <param-value>匿名</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoLogin</servlet-name>
    <url-pattern>/DoLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminServlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>com.forward.servlet.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/AdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NormalServlet</display-name>
    <servlet-name>NormalServlet</servlet-name>
    <servlet-class>com.forward.servlet.NormalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NormalServlet</servlet-name>
    <url-pattern>/NormalServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PlayVideoSvt</display-name>
    <servlet-name>PlayVideoSvt</servlet-name>
    <servlet-class>com.forward.servlet.PlayVideoSvt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlayVideoSvt</servlet-name>
    <url-pattern>/PlayVideoSvt</url-pattern>
  </servlet-mapping>
</web-app>